.btn-add-field,
.btn-remove-field {
  width: 100%;
  height: 38px;
}
.btn-add-field svg {
  margin-top: -2px;
}
.card-title {
  padding-right: 60px;
}
.card-footer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  border: 0;
}
.card-footer .btn {
  width: 32px;
  height: 32px;
}
.btn-edit:hover svg,
.btn-delete:hover svg,
.btn-add-field:hover svg,
.btn-remove-field:hover svg{
  fill: #ffffff;
}